mpv/watch_later
.setup/dmenu
.setup/yay-bin
nvim/plugged
nvim/.netrwhist
qBittorrent
qt5ct/colors
qt5ct/qss
viewnior
mimeapps.list
procps
uGet
yay
nemo
gconf
dconf
pulse
google-chrome
configstore
dconf
GIMP
Postman
menus
systemd
xfce4
pcmanfm
libfm
menus
epr
bleachbit
autostart
qpdfview
caja
coc
Code
balena-etcher-electron
